body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
  color: #333;
}

header {
  text-align: center;
  background-color: #4caf50;
  color: white;
  padding: 1rem 0;
}

header h1 {
  margin: 0;
}

main {
  max-width: 600px;
  margin: 2rem auto;
  background: white;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.fora {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.fora #itens,
.fora #quantity {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.fora button {
  padding: 0.5rem 1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.fora button:hover {
  background-color: #45a049;
}

.fora ul {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
  
}

.fora li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px  67px;
  border: 1px solid #ddd;
  margin-bottom: 0.5rem;
  border-radius: 4px;
  background-color: #f9f9f9;
  width: 100%;
}

.fora li button {
  background: none;
  border: none;
  color: red;
  cursor: pointer;
}

footer {
  text-align: center;
  padding: 30px 0;
  background-color: #ddd;
  color: #555;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.bi-arrow-90deg-left {
  color: gray;
  font-size: 1.5rem;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modalEdit {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 30px;
  width: 60%;
  max-width: 500px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.closeEdit {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeEdit:hover,
.closeEdit:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.bi-trash-fill {
  color: red;
  font-size: 1.5rem;
}

.bi-pencil-fill {
  color: grey;
  font-size: 1.5rem;
}

.modal-button {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

#quantity {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
}

img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

/* Responsividade */
@media (max-width: 768px) {
  main {
      width: 90%;
      padding: 1rem;
  }

  .fora {
      flex-direction: column;
      gap: 0.5rem;
  }

  .fora li {
      flex-direction: column;
      align-items: flex-start;
      text-align: left;
  }

  .modal-content {
      width: 80%;
  }
}


label.labelInput input[type="file"] {
  position: fixed;
  top: -1000px;
}

.labelInput {
  padding: 0.5rem 1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;

}
.labelInput:hover {
  background: #45a049;
}
.labelInput:active {
  background: black;
}
.labelInput :invalid + span {
  color: #A44;
}
.labelInput :valid + span {
  color: white;
}